header{
    background-color: black;
    color: white;
    text-align: center;
}
nav li{
    font-size: 30px;
    padding: 20px 50px 20px 50px;
    display: inline-block;
}

.web1{
    display:inline;
    width: 50%;
    float: left;
    text-align: center;
}
.web2{
    text-align: center;
}
.web2 a{
    text-decoration: none;
    color: black;
}
.web2 a:hover{
    color: blue;
    font-size: 20px;
}
.site1{
    background-color: antiquewhite;
}
div.pic{
    display:flex;
    justify-content: center;
    align-items: center;
}
b,strong{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th,td{
    width: 33%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer li{
    padding: 10px 20px 10px 20px;
    display: inline-block;
}
